# Core Trading Libraries
tvdatafeed
yfinance
pandas
numpy
pandas-ta

# Telegram Bot
python-telegram-bot

# Angel One Broker
smartapi-python
pyotp
logzero
websocket-client

# Utilities
python-dotenv
pytz

# Data Processing
PyPDF2
